<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#080808">

<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} · {{ .Site.Title }}{{ end }}</title>

{{- $description := .Params.description }}
{{- if .IsHome }}{{ $description = .Site.Params.description }}{{ end }}
<meta name="description" content="{{ $description }}">

{{ with .Site.Params.googleSiteVerification }}
<meta name="google-site-verification" content="{{ . }}">
{{ end }}

{{ if .Site.Params.enableOpenGraph }}
{{ template "_internal/opengraph.html" . }}
{{ end }}
{{ if .Site.Params.enableTwitterCards }}
{{ template "_internal/twitter_cards.html" . }}
{{ end }}

{{ if .Site.Config.Services.GoogleAnalytics.ID }}
{{ template "_internal/google_analytics.html" . }}
{{ end }}

{{ if .Params.canonicalUrl }}
<link rel="canonical" href="{{ .Params.canonicalUrl }}">
{{ end }}

{{ if .Site.Params.favicon }}
<link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
{{ else }}
<link rel="icon" href="data:,">
{{ end }}

{{ with .OutputFormats.Get "rss" }}
<link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" href="{{ .Permalink }}">
{{ end }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap">

<link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
</head>
