{{ define "main" }}
<div class="post-list-container post-list-container-shadow">
    <div class="post">
        <div class="post-head-wrapper-text-only">
            <div class="post-title">
                Lost? Don't worry.
            </div>
        </div>
        <div class="post-body-wrapper">
            <div class="post-body">
                <p>The page you're looking for doesn't exist, or it moved. Try the <a href="{{ "/" | absLangURL }}">homepage</a> or the <a href="{{ "/posts" | relLangURL }}">archive</a>.</p>
            </div>
        </div>
    </div>
</div>
{{ end }}
